$color-1: #e7dfdc; .color-1{color:$color-1};
$color-2: #162570; .color-2{color:$color-2};
$color-3:#ffffff; .color-3{color:$color-3};
$color-4:#000000; .color-4{color:$color-4};
$color-5:#094c00; .color-5{color:$color-5};
$color-6:rgb(74, 74, 66); .color-6{color:$color-6};
$color-7:#042400; .color-5{color:$color-5};

$font-main: 'Montserrat', sans-serif;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$breakpoint-mobile: 768px;

.ok{font-size:0.8em;color:white;font-weight:bold;background-color:green;padding:0.2em;}

@mixin padding-x($value) {
  padding-left: $value;
  padding-right: $value;
}
@mixin padding-y($value) {
  padding-top: $value;
  padding-bottom: $value;
}
@mixin margin-x($value) {
  margin-left: $value;
  margin-right: $value;
}
@mixin margin-y($value) {
  margin-top: $value;
  margin-bottom:$value;
}

:root {
  font-family: $font-main;
  line-height: 1.5;
  font-weight: $font-regular;

  color: $color-4;
  background-color: $color-4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding:0;
  margin:0;
}

.btn{
  padding:0.25em;
  &:hover{box-shadow:2px 2px 15px #e7dfdc67;}
}
.btn-1{
  background-color:$color-1;
  color:$color-2;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
  transform: scale(0.95);
}
.fade-enter-to, .fade-leave-from {
  opacity: 1;
  transform: scale(1);
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}
